streamlit
python-dotenv
PyPDF2

langchain==0.1.0
langchain-community==0.0.20
langchain-text-splitters==0.0.1

faiss-cpu

sentence-transformers==2.2.2
transformers==4.30.2
huggingface-hub==0.16.4


#streamlit
#langchain==0.1.0
#langchain-community==0.0.20
#sentence-transformers==2.2.2
#transformers==4.30.2
#huggingface-hub==0.16.4
#faiss-cpu
#PyPDF2
#python-dotenv
